page-itemdetail {
    .shadow-bottom {
        box-shadow: 0 2px 7px 0px #b9b8b8;
    }
    .img-section {
        background: #fff;
        margin-bottom: 5px;
        position: relative;
        padding: 23px 21px 13px 25px;
        img {
            display: block;
            max-width: 60%;
            margin: 0 auto;
            padding: 29px 0;
        }
        .tab-btn-box {
            position: absolute;
            top: 15px;
            right: 10px;
            .tab-btn {
                width: 75px;
                img {
                    width: 100%;
                    margin-right: 0;
                    padding: 0;
                }
            }
        }
        .d-flex {
            display: flex;
            font-size: 1.2rem;
            line-height: 20px;
            text-align: left;
            font-weight: 500;
            span.icon {
                color: #ccc;
                text-align: end;
                margin-left: auto;
                width: 16rem;
                ion-icon {
                    width: 50%;
                    display: inline-block;
                    font-size: 2rem;
                }
            }
        }
    }
    .about-section {
        padding: 23px 25px 13px 25px;
        margin-bottom: 5px;
        h3 {
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 0;

        }
        p {
            font-size: 1.1rem;
            line-height: 15px;
            font-weight: 500;
            color: #4f4f4f;
            margin-bottom: 0;
        }
    }
    .price-section {
        padding: 0px 10px 0px 25px;
        p {
            font-size: 1.8rem;
            margin-right: auto;
            font-weight: 600;
            span {
                font-weight: 300 !important;
                font-size: 1.2rem !important;
                margin-left: 8px;
            }
        }
        .btn-grup {
            margin-left: auto;
            span {
                font-size: 1.2rem;
                font-weight: 700;
                margin: 0 10px;
            }
            .btn {
                font-size: 2rem;
                font-weight: 400;
                width: 45px;
                text-align: center;
                border-radius: 5px;
                line-height: 3.5rem;
            }
        }

    }

    .d-flex {
        display: flex;
        align-items: center;
    }
}
